In [1]:
import pickle 
import pandas as pd

In [31]:
with open("../data/Assembly_Number_Dictionary.pickle", "rb") as f:
     data = pickle.load(f)

In [44]:
dat_df = pd.DataFrame.from_records(list(data.items()), columns = ["integer", "assembly-index"])

In [45]:
dat_df

In [46]:
dat_df.to_csv("Assembly-10000.csv")

In [24]:
dat_df

       0  assembly
1      0         1
2      1         2
3      2         3
4      2         4
5      3         5
...   ..       ...
9995  17      9995
9996  16      9996
9997  16      9997
9998  16      9998
9999  16      9999

[9999 rows x 2 columns]